[Unit]
Description=URLBlocker DNS Firewall
After=network.target

[Service]
Type=simple
ExecStart=/opt/urlblocker/urlblocker \
    -b blocklist.txt \
    -u 8.8.8.8:53 \
    -p 15353
WorkingDirectory=/opt/urlblocker
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
